* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background: #00367C;
  width: 100vw;
  height: 100vh;
}

#section1 {
  width: 100%;
  height: 100vh;
}

#section2 {
  height: 100vh;
  width: 100%;
  background: #00367C;
}

#section3 {
  height: 100vh;
  width: 100%;
  border: 2px solid red;
}

#download-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 5px;
  position: absolute;
  top: 4%;
  left: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#download-btn a {
  font-size: 30px;
  color: #9098bd;
  text-decoration: none;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  opacity: 0;
}

#download-btn a i {
  padding: 5px 0px 0px 5px;
  margin: 5px 5px 0px 5px;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

#download-btn a:hover {
  color: #4c5064;
}

#download-btn a:hover i {
  color: #4c5064;
}

.bulb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: block;
}

.bulb #bulb-small {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 400px;
  margin-top: -30px;
  top: -40%;
}

.bulb #bulb-small img {
  height: 400px;
  width: 300px;
}

.bulb #bulb-large {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  margin-top: -30px;
  top: -60%;
}

.bulb #bulb-large img {
  height: 600px;
  width: 400px;
  top: -70%;
}

#center {
  position: absolute;
  left: 25%;
  top: 25%;
}

#center-rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 100px;
}

#circle-svg {
  height: 450px;
  width: 450px;
  padding: 10px;
  border-radius: 100%;
  background: #001E4D;
  -webkit-box-shadow: 2px 2px 7px #000c31, -2px -2px 7px #000c31;
          box-shadow: 2px 2px 7px #000c31, -2px -2px 7px #000c31;
  opacity: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#circle-svg #mood {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#circle-svg #mood svg {
  height: 330px;
  width: 330px;
  padding: 20px;
  padding-left: 40px;
}

#circle-svg #mood svg .cls-1 {
  fill: transparent;
}

#circle-svg #mood svg .cls-2 {
  fill: transparent;
}

#circle-svg #mood svg .cls-3 {
  fill: transparent;
}

#herotxt-svg {
  margin-left: -170px;
}

#herotxt-svg g path {
  stroke-dasharray: 5000;
  stroke-dashoffset: 0;
  stroke: #9098bd;
  stroke-width: 10;
  fill: none;
}

#anime-main {
  margin-left: -50px;
}

#mood svg {
  height: 200px;
  width: 420px;
}

#mood svg g path {
  -webkit-filter: drop-shadow(-4px -4px 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(-4px -4px 3px rgba(0, 0, 0, 0.7));
}

.herotxt .inner-hero {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.herotxt .inner-hero svg {
  height: 400px;
  width: 600px;
  position: relative;
  left: -35%;
  top: 70px;
}

.herotxt .inner-hero svg path {
  -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.7));
}

.down-arrow {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 9%;
  right: 9%;
}

.down-arrow a {
  opacity: 0;
}

.down-arrow a i {
  font-size: 50px;
  color: #9098bd;
  text-shadow: 1px 1px 3px #4c5064;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.down-arrow a i:hover {
  text-shadow: 2px 2px 5px #504f4f;
}

.gears .outer {
  height: 800px;
  width: 800px;
  position: absolute;
  left: 0%;
  top: 40%;
  -webkit-transform: translate(-50%, 8%);
          transform: translate(-50%, 8%);
}

.gears .outer svg #cls-oo {
  fill: transparent;
}

.gears .outer svg path {
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
}

.gears .inner {
  height: 400px;
  width: 400px;
  position: absolute;
  left: 0%;
  top: 67%;
  -webkit-transform: translate(-50%, 8%);
          transform: translate(-50%, 8%);
}

.gears .inner svg #cls-ii {
  fill: transparent;
}

.gears .inner svg path {
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
}

div.gears2 {
  position: absolute;
  right: 350px;
  top: 150vh;
}

div.gears2 .outer2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

div.gears2 .outer2 svg #cls-o2 {
  fill: #f73c57;
}

div.gears2 .outer2 svg path {
  -webkit-filter: drop-shadow(-2px -2px 5px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(-2px -2px 5px rgba(0, 0, 0, 0.7));
}

div.gears2 #Layer_ooo {
  height: 700px;
  width: 700px;
}

div.gears2 .inner2 {
  -webkit-transform: translate(-13%, 52%);
          transform: translate(-13%, 52%);
}

div.gears2 .inner2 svg #cls-o2 {
  fill: transparent;
}

div.gears2 .inner2 svg path {
  -webkit-filter: drop-shadow(-2px -2px 5px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(-2px -2px 5px rgba(0, 0, 0, 0.7));
}
/*# sourceMappingURL=index.css.map */